h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html, body, p, ul, li, button, textarea, input, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  line-height: 1; }

.header__top {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase; }

.header__heading {
  font-weight: bold;
  font-size: 60px;
  color: #fff; }

.nav__link {
  font-weight: bold;
  font-size: 12px;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff; }

.info__heading {
  font-weight: bold;
  font-size: 48px; }

.info__link {
  color: #0075FF;
  text-decoration: none; }

.info__text {
  font-size: 16px; }
  .info__text > p {
    line-height: 27px; }
  .info__text > p:first-child {
    font-weight: bold;
    font-size: 24px;
    color: #0075FF;
    margin-bottom: 16px; }
  .info__text > p:nth-child(2) {
    margin-bottom: 20px; }
  .info__text > p:nth-child(3) {
    margin-bottom: 20px; }
  .info__text > p:last-child {
    font-weight: bold; }

.header-background {
  background-image: url(../images/header.jpg);
  background-size: cover; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  height: 700px;
  padding: 24px 120px 48px;
  max-width: 1260px; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff; }
  .header__link {
    position: relative;
    text-decoration: none;
    color: #fff; }
    .header__link--action::before {
      position: absolute;
      content: "";
      height: 0;
      top: calc(100% + 8px);
      left: 0;
      right: 0;
      border: 1px solid #fff; }
  .header__logo {
    height: 76px;
    width: 115px;
    background-image: url(../images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
    .header__logo--hidden {
      display: none; }
  .header__heading {
    margin-bottom: 85px;
    position: relative; }
    .header__heading::before {
      position: absolute;
      top: -16px;
      content: "";
      height: 2px;
      width: 35px;
      background: #fff;
      border-radius: 2px; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.nav__item {
  text-align: center; }
  .nav__item--active {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px; }

.nav__link:hover {
  color: #9FADC2; }

.section {
  max-width: 1260px;
  margin: auto;
  padding: 0 120px;
  padding-bottom: 152px;
  background-color: #fff; }
  .section:first-child {
    padding-top: 156px; }
  .section:last-child {
    margin-bottom: 88px; }
  .section__heading {
    display: inline-block;
    position: relative;
    font-weight: bold;
    font-size: 48px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-bottom: 93px; }
    .section__heading--low-margin {
      margin-bottom: 61px; }
    .section__heading::before {
      position: absolute;
      left: calc(50% - 11px);
      top: calc(100% + 7px);
      content: "";
      width: 23px;
      height: 16px;
      background-image: url("../images/crown.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center; }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .info__text {
    max-width: 500px; }

.gallery__text {
  margin-bottom: 40px; }

.gallery__link {
  font-weight: bold;
  color: #0075FF;
  text-decoration: none; }

.gallery__button {
  display: block;
  margin: 0 auto;
  width: 188px;
  height: 56px;
  border: 2px solid #0075FF;
  border-radius: 8px;
  color: #0075FF;
  background-color: inherit; }
  .gallery__button--link {
    color: #0075FF;
    text-decoration: none; }

.photos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  margin-bottom: 24px; }
  .photos__img {
    height: 256px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    justify-self: stretch;
    border-radius: 8px; }
  .photos--wide-left {
    grid-template-columns: 2fr 1fr; }
  .photos--wide-right {
    grid-template-columns: 1fr 2fr; }

.consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .consultation__text > p {
    line-height: 27px; }
    .consultation__text > p:first-child {
      font-size: 24px;
      color: #0075FF;
      font-weight: bold;
      margin-bottom: 16px; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 413px; }
  .form__input {
    height: 48px;
    background: #F7F8FF;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    padding: 0 17px; }
    .form__input:not(:last-child) {
      margin-bottom: 16px; }
    .form__input:focus {
      outline-color: #0075FF; }
  .form__button {
    margin-top: 32px;
    height: 56px;
    color: #fff;
    font-size: bold;
    background: #0075FF;
    border: none;
    -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
            box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    border-radius: 8px; }

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .testimonials__item {
    width: 250px; }

.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Ubuntu;
  text-align: center;
  line-height: 27px; }
  .person__photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 28px; }
  .person__name {
    color: #0075FF;
    font-weight: bold;
    margin-bottom: 4px; }
  .person__position {
    font-style: italic;
    color: gray;
    margin-bottom: 13px;
    line-height: inherit; }
  .person__text {
    width: 240px;
    line-height: inherit; }

.contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .contact-us .form .text-area {
    border-radius: 8px;
    background: #F7F8FF;
    border: 1px solid #FFFFFF;
    padding: 17px; }
    .contact-us .form .text-area:focus {
      outline-color: #0075FF; }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 27px; }
  .info__link {
    text-decoration: none;
    color: #3E3E3E;
    cursor: pointer; }
  .info__description {
    font-size: 14px;
    color: #9FADC2;
    line-height: inherit;
    margin-bottom: 8px; }
  .info__info {
    margin-bottom: 24px;
    line-height: inherit; }
  .info__contact-box {
    margin-right: 108px; }

.footer {
  position: -webkit-sticky;
  position: sticky;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../images/footer.jpg);
  background-size: cover;
  height: 540px; }
  .footer__logo {
    position: absolute;
    left: calc(50% - 57px);
    bottom: 40px;
    height: 76px;
    width: 115px;
    background-image: url(../images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }

main {
  background-color: #fff; }

@media screen and (max-width: 850px) {
  .header {
    padding: 24px 20px 40px;
    height: 500px; }
    .header__logo {
      display: none; }
      .header__logo--hidden {
        margin: 0 auto;
        display: block; }
    .header__heading {
      display: none; }
    .header__top {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
    .header__phone {
      margin-bottom: 15px; }
    .header__phone, .header__link--action {
      font-size: 20px; }
    .header__bottom {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .nav__item {
    padding: 5px; }
    .nav__item:not(:last-child) {
      margin-bottom: 10px; }
  .nav__link {
    font-size: 40px; }
  .section {
    padding: 64px 20px; }
    .section:first-child {
      padding-top: 64px; }
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .info__heading {
      margin-bottom: 48px; }
  .photos--wide-left {
    grid-template-columns: repeat(2, 1fr); }
  .photos--wide-right {
    grid-template-columns: repeat(2, 1fr); }
  .consultation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .consultation__text {
      margin-bottom: 32px; }
  .testimonials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .person {
    margin: 0 auto 48px; }
  .contact-us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  __info, __form {
    margin: auto; } }

/*# sourceMappingURL=main.css.map */
